@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    font-family: "Roboto", sans-serif;
}

table,
th {
border: 1px solid black;
}

td{
    background-color: red;
    color: aqua;
}

tr{
    background-color: green;
}